{{ $email := promptString "email" "me@zjr.io" -}}
{{ $computerName := output "scutil" "--get" "ComputerName" | trim }}

[data]
  email = {{ $email | quote }}
  computerName = {{ coalesce $computerName .chezmoi.hostname | quote }}

[merge]
  command = "nvim"
  args = [
    "-d",
    "{{ "{{" }} .Destination {{ "}}" }}",
    "{{ "{{" }} .Source {{ "}}" }}",
    "{{ "{{" }} .Target {{ "}}" }}"
  ]

